<div>
  <link href="./profile.css" rel="stylesheet" />
  <div class="profile-profile">
    <img
      alt="image"
      src="https://images.unsplash.com/photo-1562159278-1253a58da141?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDIyfHxtYW4lMjBwb3J0dHJhaXR8ZW58MHx8fHwxNjI3MjkzNTM1&ixlib=rb-1.2.1&w=200"
      class="profile-image"
    />
    <div class="profile-container">
      <span class="profile-text"><span>John Doe</span></span>
      <span class="profile-text1"><span>View Profile</span></span>
    </div>
  </div>
</div>
